<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Monitoramento de Máquinas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <input type="text" id="search" placeholder="🔍 Pesquisar máquina...">
    </header>

    <main id="machines-list">
        {% for machine in machines %}
        <a href="/host?name={{ machine.name }}" target="_blank" class="machine-item" data-name="{{ machine.name }}">
            <div class="icon">🖥️</div>
            <div class="name">{{ machine.name }}</div>
        </a>
        
        {% endfor %}
    </main>

    <script>
        const machineData = {{ machines | tojson }};
    </script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
